<div class="box box-title" style="background-color: rgb(238, 95, 91)">
  <h2>Who we work with:</h2>
</div>
<% @clients.each do |client| %>
  <div class="box box-client">
    <a class="box-link" href="/clients">
      <div class="mini">
        <div class="client-logo">
          <%= image_tag client.logo.url %>
        </div>
      </div>
    </a>
  </div>
<% end %>
<%= fill_with_boxes 3 - @clients.size if @clients.size < 3 %>

<div class="box box-title" style="background-color: rgb(0, 136, 204)">
  <h2>What we can offer:</h2>
</div>
<% @services.each do |service| %>
  <div class="box box-service">
    <a class="box-link" href="/services">
      <div class="mini">
        <div class="box-hover-content" style="border-color: <%= service.color %>"></div>
        <i class="icon icon-<%= service.icon %>" style="color: <%= service.color %>"></i>
        <h3 style="color: <%= service.color %>"><%= service.title %></h3>
        <p><%= service.short_content %></p>
      </div>
    </a>
  </div>
<% end %>
<%= fill_with_boxes 3 - @services.size if @services.size < 3 %>

<div class="box box-title" style="background-color: rgb(81, 163, 81)">
  <h2>What technology we use:</h2>
</div>
<% @technologies.each do |tech| %>
  <div class="box box-tech">
    <a class="box-link" href="/technologies">
      <div class="tech-title" target="_blank">
        <%= image_tag tech.image_url %>
      </div>
      <div class="tech-description">
        <%= tech.description.html_safe %>
      </div>
    </a>
  </div>
<% end %>
<%= fill_with_boxes 3 - @technologies.size if @technologies.size < 3 %>

<div class="box box-title" style="background-color:rgb(47, 150, 180)">
  <h2>Our staffs:</h2>
</div>
<% for staff in @staffs %>
  <div class="box box-staff box-expandable" onclick="location = '/staff'">
    <div class="mini">
      <div class="staff-thumb" style="background-image: url('<%= staff.image_url %>');">
        <div class="staff-name"><%= staff.name %></div>
      </div>
    </div>
  </div>
<% end %>
<%= fill_with_boxes 3 - @staffs.size if @staffs.size < 3 %>

<div class="box box-double box-about">
  <h3> About ShineNext</h3>
  <p>
    We are a software company and a community of passionate, purpose-led individuals.
    We think disruptively to deliver technology to address our clients' toughest challenges,
    all while seeking to revolutionize the IT industry and create positive social change.
  </p>
</div>
<div class="box pointer box-contact">
  <h3>Connect with us</h3>
  <ul>
    <li><i class="icon-envelope"></i></li>
    <li><i class="icon-weibo"></i></li>
    <li><i class="icon-twitter"></i></li>
    <li><i class="icon-github"></i></li>
  </ul>
</div>
<div class="box box-video" data-video-id="Eqv3Et_EqJs">
  <a class="btn-play"><i class="icon-play"></i></a>
</div>
