<!DOCTYPE html>
<html>
  <head>
    <title>WebsiteWuhan</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <%= render 'home/header' %>
        <div class="box-container isotope">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
